.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--text-color);
    margin: 100px auto;
    border: 1px solid var(--accent-color);
    color: black;
    max-width: 350px;
    height: 500px;
}

.input {
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 0.5rem;
    width: 80%;
    font-size: 1rem;
}

.label {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    margin-bottom: 0.5rem;
}

.signup {
    margin-top: 2rem;
    background-color: #290070;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 0.5rem;
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.login {
    margin-top: 1rem;
    background-color: #ffffff;
    border: 1px solid #290070;
    border-radius: 5px;
    padding: 0.5rem;
    width: 80%;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-decoration: none;
}

.link {
    color: #000;
    text-decoration: none;
}
